@charset "UTF-8";

.wrapper {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  line-height: 1.3;
}

.container {
  width: 1250px;
  margin: 0 auto;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*--------------------*/

.header {
  padding: 35px 0px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding: 0px 0px 0px 25px;
  color: #000000;
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
  position: relative;
  z-index: 2;
}

.header__logo:hover {
  color: blue;
}

.header__burger {
  display: none;
}

.header__list {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.95px;
  z-index: 2;
}

.header__item {
  color: #000;
  margin-left: 60px;
}

.header__item:hover {
  color: blue;
}

.block {
  display: none;
}

.content {
  display: block;
  margin-top: 150px;
}

.content-port {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 172px 0px;
}

.content-title {
  max-width: 550px;
  margin: 38px 0px 52px 0px;
  color: #000000;
  font-size: 39px;
  font-weight: 700;
  letter-spacing: 1.17px;
}

.content-text {
  margin: 0px 0px 100px 0px;
  max-width: 420px;
  color: #000000;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.53px;
  line-height: 1.4;
}

.btn {
  color: #fffbfb;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.66px;
  padding: 30px 92px;
  border-radius: 100px;
  background-color: #2467a5;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  margin: 0 auto;
}

.btn:hover {
  background-color: #000;
  color: #fff;
}

.content-img img {
  border-radius: 30px;
}

.content__block {
  -webkit-transform: translateX(5%);
      -ms-transform: translateX(5%);
          transform: translateX(5%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content__work {
  margin-left: 50px;
  max-width: 570px;
}

.content__different {
  font-size: 20px;
  font-weight: 700;
  position: relative;
  margin: 15px 0 15px 40px;
  padding: 0px 0px 0px 10px;
}

.content__different:before {
  content: "";
  background: url("../img/icon/Ellipse.svg") no-repeat;
  width: 21px;
  height: 17px;
  position: absolute;
  bottom: 24%;
  left: 0;
  margin-left: -25px;
}

.content__part {
  color: #000000;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.53px;
  margin: 0px 20px 20px 30px;
}

.content__work-web {
  -webkit-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
          transform: translateY(-10%);
}

.content__work-adaptiv {
  -webkit-transform: translateY(-20%);
      -ms-transform: translateY(-20%);
          transform: translateY(-20%);
}

.content__work-mobile {
  -webkit-transform: translateY(-22%);
      -ms-transform: translateY(-22%);
          transform: translateY(-22%);
}

.content__img-design {
  -webkit-transform: translateY(-15%);
      -ms-transform: translateY(-15%);
          transform: translateY(-15%);
  position: relative;
  right: 10%;
}

.content__img-adaptiv {
  position: relative;
  -webkit-transform: translateY(-60%);
      -ms-transform: translateY(-60%);
          transform: translateY(-60%);
  z-index: 2;
}

.content__img-mobile {
  position: relative;
  left: -10%;
  -webkit-transform: translateY(-70%);
      -ms-transform: translateY(-70%);
          transform: translateY(-70%);
}

.content {
  /* .content__toggle */
  /* .content__about */
  /* .content__us */
  /* .content__about-img */
}

.content__toggle {
  margin: 100px 0px 191px 0px;
}

.content__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__us {
  max-width: 570px;
  padding: 10px;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.53px;
  line-height: 34.23px;
}

.content__about-img {
  padding: 10px;
}

.content {
  /* .content__create */
  /* .content__how */
  /* .content__col */
  /* .content__effect */
  /* .content__item */
  /* .content__word */
}

.content__create {
  margin: 0px 0px 153px 0px;
  text-align: center;
}

.content__how {
  font-weight: bold;
  font-size: 28.6px;
  letter-spacing: 0.025em;
  margin-bottom: 50px;
}

.content__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content__item {
  margin-bottom: 25px;
}

.content__word {
  max-width: 260px;
  font-size: 21px;
  letter-spacing: 0.025em;
}

.content {
  /* .content__form */
}

.content__form {
  text-align: center;
  margin-bottom: 80px;
}

.form {
  /* .form__input */
}

.form__input {
  margin: 0 auto;
  width: 635px;
  border-radius: 50px;
  display: block;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0.1em;
  color: rgba(0, 0, 0, 0.6);
  background: rgba(196, 196, 196, 0.3);
  border: 1px solid rgba(196, 196, 196, 0.3);
  padding: 25px;
  margin-bottom: 55px;
}

.btn__primary {
  margin-top: 20px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  background: #FFFCFC;
  border: 4px solid #2467A5;
  border-radius: 100px;
  color: #2467A5;
}

.btn__primary:hover {
  color: #fff;
  border-color: #000;
  background-color: #000;
}

.footer {
  /* .footer__bg */
  /* .footer__menu */
  /* .footer__address */
  /* .footer__work */
  /* .footer__number */
  /* .footer__tell */
  /* .footer__link */
}

.footer__bg {
  background-color: #C4C4C4;
  max-width: 1450px;
  margin: 0 auto;
}

.footer__menu {
  padding: 70px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.6;
}

.footer__address {
  font-size: 18px;
}

.footer__work {
  font-size: 19px;
  letter-spacing: 0.13em;
}

.footer__work a {
  color: #2467A5;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.footer__work a:hover {
  color: gray;
}

.footer__number {
  max-width: 320px;
  font-size: 18px;
}

.footer__tell {
  color: #000;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.footer__tell:hover {
  color: blue;
}

.footer__link {
  color: #000;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.footer__link:hover {
  color: blue;
}

@media (max-width: 1300px) {
  .content__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .content__img img {
    width: 80%;
    height: 100%;
  }

  .content__img-design {
    right: 5%;
  }

  .content__img-mobile {
    left: -5%;
  }
}

@media (max-width: 1250px) {
  .container {
    width: 1000px;
  }

  .header__item {
    margin-left: 15px;
  }

  .content-title {
    max-width: 340px;
    margin-top: 20px;
    font-size: 35px;
  }

  .content-text {
    margin-bottom: 50px;
  }

  .content__work {
    max-width: 470px;
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  .header__main {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .content-port {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .content-title {
    margin-top: 70px;
    font-size: 24px;
    line-height: 29px;
  }

  .content-text {
    font-size: 15px;
    line-height: 18px;
    max-width: 340px;
  }

  .btn {
    padding: 18px 72px;
    font-size: 15px;
    line-height: 18px;
  }

  .content-img img {
    width: 500px;
    height: 500px;
  }

  .content__block {
    -webkit-transform: translateX(-5%);
        -ms-transform: translateX(-5%);
            transform: translateX(-5%);
    margin-left: 100px;
  }

  .content__us {
    font-size: 15px;
  }

  .content__about-img img {
    width: 469px;
    height: 416px;
  }

  .footer__menu {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 100%;
  }

  .header__logo {
    padding: 0;
  }

  .content__how {
    font-size: 21.34px;
  }

  .content__item img {
    width: 72px;
    height: 64px;
  }

  .content__word {
    font-size: 15px;
    max-width: 188.23px;
  }
}

@media (max-width: 950px) {
  .content__ellipse:before {
    content: '';
    bottom: 60%;
  }
}

@media (max-width: 900px) {
  .header__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active div {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__span {
    position: absolute;
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
    padding: 70px 10px 20px 10px;
  }

  .header__list.active {
    top: 0;
  }

  .header__item {
    margin-top: 20px;
  }

  .content {
    margin-top: 95px;
  }

  .content-port {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    margin-bottom: 20%;
  }

  .btn {
    margin-bottom: 30px;
  }

  .content-img img {
    width: 400px;
    height: 400px;
  }

  .content__block {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }

  .content__img img {
    width: 100%;
  }

  .content__work {
    margin: 0 auto;
  }

  .content__work-web {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .content__work-adaptiv {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .content__work-mobile {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .content__img-design {
    right: 0%;
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
  }

  .content__img-adaptiv {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
  }

  .content__img-mobile {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
    left: 0;
  }

  .content__about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .content__us {
    text-align: center;
    max-width: 560px;
  }

  .content__about-img img {
    width: 100%;
    height: 100%;
  }

  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 40px 0;
  }

  .footer__address {
    max-width: 300px;
    font-size: 15px;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
  }

  .footer__work {
    font-size: 17px;
    margin-bottom: 20px;
  }

  .footer__number {
    max-width: 230px;
    font-size: 15px;
  }
}

@media (max-width: 900px) and (max-width: 200px) {
  .header__burger:before,
  .header__burger:after {
    width: 50%;
    left: 30%;
  }
}

@media (max-width: 786px) {
  .content__toggle {
    margin: 35px 0px;
  }

  .content__create {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .content__ellipse:before {
    bottom: 24%;
  }

  .content__part {
    font-size: 19px;
  }

  .content__how {
    font-size: 18px;
  }

  .content__item img {
    width: 50px;
    height: 45px;
  }

  .content__word {
    font-size: 12px;
    max-width: 160px;
  }

  .form__input {
    width: 468.98px;
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 15px 0px;
  }

  .header__logo {
    font-size: 15px;
  }

  .content {
    margin-top: 45px;
  }

  .content-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .content-title {
    font-size: 12px;
    line-height: 1.4;
    max-width: 180px;
    margin-bottom: 15px;
  }

  .content-text {
    max-width: 210px;
    font-size: 9px;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  .btn {
    font-size: 12.55px;
    line-height: 15px;
    padding: 15px 50px;
    border: 2px solid;
  }

  .content-img img {
    width: 70%;
    height: 10%;
  }

  .content__img img {
    display: block;
    margin: 0 auto;
    width: 80%;
  }

  .content__different:before {
    content: '';
    background: url("../img/icon/Ellipse13.svg") no-repeat;
    width: 9px;
    height: 7px;
    margin-left: -10px;
    bottom: 10%;
  }

  .content__different {
    font-size: 8px;
    margin-left: 50px;
  }

  .content__part {
    font-size: 9px;
    max-width: 350px;
    line-height: 1.5;
  }

  .content__toggle {
    margin: 10px 0;
  }

  .content__us {
    font-size: 8.55px;
    line-height: 2;
  }

  .content__create {
    margin-bottom: 10px;
  }

  .content__how {
    font-size: 13px;
    margin-bottom: 25px;
  }

  .content__item img {
    width: 44px;
    height: 40px;
  }

  .content__word {
    max-width: 120px;
    font-size: 8.55px;
  }

  .content__form {
    margin-bottom: 0px;
  }

  .form__input {
    width: 300px;
    font-size: 8.55px;
    padding: 15px;
    margin-bottom: 30px;
  }

  .btn__primary {
    margin-top: 0;
  }

  .footer__menu {
    padding: 20px 0;
  }

  .footer__address {
    font-size: 11px;
  }

  .footer__work {
    font-size: 13px;
  }

  .footer__number {
    max-width: 150px;
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .content__col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .content__effect {
    margin-bottom: 20px;
  }
}

@media (max-width: 350px) {
  .content__different {
    margin-left: 30px;
  }

  .content__part {
    max-width: 100%;
  }
}

@media (max-width: 300px) {
  .form__input {
    font-size: 7px;
    width: 80%;
  }
}

@media (max-width: 250px) {
  .header__main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__logo {
    display: none;
  }

  .header__item {
    margin-left: 0;
    font-size: 10px;
  }

  .content {
    margin-top: 0px;
  }

  .content-title {
    font-size: 6px;
    width: 100%;
    padding: 0px 20px;
  }

  .content-text {
    padding: 0px 20px;
    width: 100%;
    font-size: 5px;
  }

  .btn {
    font-size: 8px;
    padding: 5px 20px;
  }

  .footer__address {
    font-size: 6px;
  }

  .footer__work {
    font-size: 7px;
  }

  .footer__number {
    font-size: 6px;
  }
}

@media (max-width: 200px) {
  .header__span {
    width: 50%;
    left: 30%;
  }

  .btn {
    font-size: 5px;
    padding: 0px 10px;
  }

  .content__work {
    max-width: 100%;
  }

  .content__different:before {
    display: none;
  }

  .content__different {
    font-size: 5px;
    text-align: center;
    margin: 10px 0;
    padding: 0;
  }

  .content__part {
    text-align: center;
    font-size: 3px;
    margin: 10px 0;
  }

  .content__us {
    font-size: 3px;
    padding: 2px;
  }

  .content__how {
    font-size: 6px;
  }

  .content__item {
    margin-bottom: 10px;
  }

  .content__item img {
    width: 30px;
    height: 30px;
  }

  .content__word {
    font-size: 5px;
  }

  .form__input {
    margin-bottom: 15px;
    width: 70%;
    padding: 5px;
    font-size: 5px;
  }

  .btn__primary {
    border: 1px solid #2467A5;
  }
}

@media (max-width: 150px) {
  .header__item {
    font-size: 5px;
  }

  .content-title {
    padding: 0;
  }

  .content-text {
    padding: 0;
  }

  .btn {
    padding: 0px 3px;
  }

  .form__input {
    width: 100%;
  }
}

@media (max-width: 100px) {
  .header__item {
    font-size: 3px;
  }

  .content__create {
    margin-bottom: 0;
  }

  .content__effect {
    margin-bottom: 10px;
  }

  .footer__address {
    font-size: 4px;
  }

  .footer__work {
    font-size: 4px;
  }

  .footer__number {
    font-size: 4px;
  }
}